[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
Ipython = "*"
hydroeval = "*"
plotly = "*"
keras = "*"

st-annotated-text = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6.13"
